<%- include('../partials/customerHeader', { customerName: customerName }) %>

<body>
  <h1>Your Cart</h1>
  <% if (cartItems.length > 0) { %>
  <div class="meal-container">
    <% cartItems.forEach(item => { %>
      <div class="meal-card">
        <div class="meal-content">
          <h2 class="meal-name"><%= item.name %></h2>
          <p><strong>Price:</strong> ₹<%= item.price %></p>
          <p><strong>Contents:</strong> <%= item.contents %></p>
          <p><strong>Delivery Time:</strong> <%= item.delivery_time %></p>
          <p><strong>Seller:</strong> <%= item.seller_name %></p>
          <div class="meal-actions">
            <form action="/remove-from-cart/<%= item.id %>" method="POST">
              <button type="submit">Remove</button>
            </form>
          </div>
        </div>
        <div class="img-box">
          <% if (item.image_url) { %>
            <img class="meal-img" src="<%= item.image_url %>" alt="<%= item.name %>">
          <% } %>   
        </div> 
      </div> 
      <% }) %>     
  </div>
    <form style="background-color: #f4f4f4; border: 0;" action="/checkout" method="POST">
      <button style="position: static; margin-top:20px; margin-bottom:20px; margin-left: 40%;" type="submit">Checkout</button>
    </form>
    <% } else { %>
      <h2 >Your cart is empty.</h2>
    <% } %>
</body>

<%- include('../partials/footer') %>
